#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color-background-primary: #fdfcf9;
  --color-text-primary: #333333;
  --color-text-secondary: #556052;
  --color-accent-main: #e5b769;
  --color-accent-secondary: #d27957;

}
body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

h1, h2, h3 {
  color: var(--color-text-primary);
}

.my-custom-card {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--color-accent-main);
  color: var(--color-text-primary); /* veya daha uygun bir metin rengi */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
